[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/javascript-libraries-syntax.vim"]
	path = bundle/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-mustache-handlebars"]
	path = bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "bundle/vim-lilypond-integrator"]
	path = bundle/vim-lilypond-integrator
	url = https://github.com/gisraptor/vim-lilypond-integrator.git
[submodule "bundle/vim-forcedotcom"]
	path = bundle/vim-forcedotcom
	url = https://github.com/ejholmes/vim-forcedotcom.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/todo.txt-vim"]
	path = bundle/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim.git
[submodule "tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/omnisharp-vim"]
	path = bundle/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vim-csharp"]
	path = bundle/vim-csharp
	url = git://github.com/OrangeT/vim-csharp.git
[submodule "bundle/vim-gotham"]
	path = bundle/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham.git
[submodule "bundle/vim-force.com"]
	path = bundle/vim-force.com
	url = https://github.com/neowit/vim-force.com.git
	ignore = dirty
[submodule "bundle/plantuml-syntax"]
	path = bundle/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "Conque-Shell_samb0t"]
	path = bundle/Conque-Shell
	url = https://github.com/samb0t/Conque-Shell.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/vim-renumber"]
	path = bundle/vim-renumber
	url = https://github.com/clarke/vim-renumber.git
